# Dependencies
**/node_modules
**/.pnp
**/.pnp.js

# Testing
**/coverage
backend/civic-capsule-377812-fe65c9a8054e.json
# Production
**/build
**/dist

# Environment variables
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Debug logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.pnpm-debug.log*

# IDE and editor folders
**/.idea
**/.vscode
**/*.swp
**/*.swo

# OS files
**/.DS_Store
**/Thumbs.db

# Backend specific
**/logs
**/*.log
**/temp
**/tmp

# Frontend specific
**/.cache
**/.next
**/.nuxt
**/out/

# Package managers
**/yarn.lock
**/package-lock.json
# Uncomment the above if you want to ignore lock files

# Optional: Compiled sources
**/*.com
**/*.class
**/*.dll
**/*.exe
**/*.o
**/*.so

# Optional: Database files
**/*.sqlite
**/*.db